.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 20%;
    left: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    gap: 10px;
    width: 100%;
    overflow-y: scroll;
}

.order-number {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #63565C;
    padding-top: 2%;
}

label {
    color: #63565C;
}

select {
    width: 200px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-bottom: 10%;
}

.order-container {
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;

}

.description-container {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #63565C;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.dropdown-menu label {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.toast-message {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #63565C;
    background-color: #fffdfd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
}

@media(max-width: 600px){

    .order-number{
        width: 60%;
    }

    .description-container{
        display: flex;
        justify-content: right;
        align-items: center;
        width:90%;

    }

    .order-tracker {
        width: 100%;
    }

    .submit-toast{
        font-size: 20px !important;
    }

    .dropdown-menu{
        width: 100%;
    }

    .option-status{
        font-size: 15px;
    }
}