.footer{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF0F6;
    height: 7%;
    margin-top: auto;
    color: #63565C;
}

.footer>ul {
    display: flex;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    gap: 2rem;
    margin-left: 20px;
}

.footer>.media {
    display: flex;
    margin-right: 40px;
    gap: 1rem;
}

@media (max-width: 600px) {
    .footer{
       display: none;
       overflow: hidden;
    }
}