.media-footer {
    position: sticky;
    width: inherit;
    height: 100%;
    bottom: 0;
    background-color: #FFF0F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.media-buttons {
    display: flex;
    align-items: center;
    height: 100%;
}


.home-button,
.order-media-button,
.account-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
}

.home-button img,
.order-media-button img,
.account-button img {
    max-width: 90%;
    height: auto;
}

.media-navbar button:hover {
    background: none;
}
