.media-footer {
    position: sticky;
    width: inherit;
    height: 100%;
    bottom: 0;
    background-color: #FFF0F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); /* Dodaj cień do górnej krawędzi */
}

.media-buttons {
    display: flex;
    align-items: center; /* Wyśrodkuj zawartość w pionie */
    height: 100%; /* Ustaw wysokość na 100% kontenera */
}


.home-button,
.order-media-button,
.account-button {
    display: flex; /* Ustawienie na flex dla kontenera przycisku */
    align-items: center; /* Wyśrodkowanie zawartości w pionie */
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%; /* Ustawienie wysokości na 100% */
}


.home-button img,
.order-media-button img,
.account-button img {
    max-width: 90%;
    height: auto;
}

.media-navbar button:hover {
    background: none;
}
