/* RatingComponent.css */

.rating {
    display: inline-block;
    padding-top:5%;
    padding-bottom:5%;
  }
  
  .star {
    cursor: pointer;
    color: #ffc107; /* Kolor gwiazdek */
    font-size: 24px; /* Rozmiar gwiazdek */
  }
  