@media(max-width: 600px){

    .order-number{
        width: 60%;
    }

    .description-container{
        display: flex;
        justify-content: right;
        align-items: center;
        width:90%;

    }


}